[submodule "test2"]
	path = test2
	url = https://github.com/githubtraining/hellogitworld.git
[submodule "test3"]
	path = test3
	url = https://github.com/githubtraining/hellogitworld.git
[submodule "test4"]
	path = test4
	url = https://github.com/githubtraining/hellogitworld.git
[submodule "esp-idf"]
	path = esp-idf
	url = https://github.com/espressif/esp-idf
